
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
/.bash_history
/.env.test
/.idea/.gitignore
/migrations/.gitignore
/src/Entity/.gitignore
/src/Repository/.gitignore
/.composer/cache/.htaccess
/.composer/.htaccess
/.composer/cache/files/doctrine/instantiator/1bd58de5714a9e86c1658357a6b9b2d18677b65b.zip
/.composer/cache/files/phpunit/php-text-template/2e483bd8277c3ff3905be9160b0938b306ac1069.zip
/.composer/cache/files/sebastian/type/3c2f920c66eeed28f47dff8fee8cf02df8881362.zip
/.composer/cache/files/phpunit/php-file-iterator/3fa0d2af8bce7424109e205ec6af5a4e194bfecb.zip
/.composer/cache/files/symfony/polyfill-ctype/4d6de184d3f1ce9c17b33653cb12171481930c51.zip
/.composer/cache/files/sebastian/code-unit-reverse-lookup/4dbb27a92c0b0cd57fcb8cfcf98d5ddb23711e6d.zip
/.composer/cache/files/sebastian/object-reflector/5f8896b418aef6939b34fda71dc35ee59b044dc5.zip
/.composer/cache/files/myclabs/deep-copy/6cd2033a8224fe330c425e4a15202a6d42643dfc.zip
/.composer/cache/files/phpunit/php-token-stream/7a484df2a8888e20560d2ab3be66f42f03622296.zip
/.composer/cache/files/phpdocumentor/reflection-docblock/8dff474b657832a5f4f52148225055696fe8e20f.zip
/.composer/cache/files/webmozart/assert/9badd292a512316673890927d579f69ae6c75984.zip
/.composer/cache/files/phpunit/php-code-coverage/9cf484da3886e7afe24745bb1ccee4fe281be01b.zip
/.composer/cache/files/phar-io/manifest/9e9c1f9de1a020a5b076e3bc8b108524880a86e3.zip
/.composer/cache/files/sebastian/exporter/86f95da946e9a63cff0dc712eb42dc840509ce67.zip
/.composer/cache/files/sebastian/object-enumerator/92cc598970b1cc2a000e1056aaaa829515724193.zip
/.composer/cache/files/phpunit/phpunit/94f35b409edc11c119c6458794a616ca75a3191c.zip
/.composer/cache/files/sebastian/comparator/4820c115aa730390e1fcc41f6436710373849064.zip
/.composer/cache/files/phpdocumentor/reflection-common/6243ab17e2330fb7ce63d34391d53104cc913dc0.zip
/.composer/cache/files/phpdocumentor/type-resolver/752161aedc0d6ed781ada8f3aa9db4973e187d1f.zip
/.composer/cache/files/sebastian/environment/b4d76a035d8f2609a93b4c5ca32e5c987dcc4923.zip
/.composer/cache/files/phar-io/version/b33eb1f8e09407605e037d4efa300642a6b6228a.zip
/.composer/cache/files/sebastian/diff/c6bf355f27d05e7e224faaf785c2c1a365f75a40.zip
/.composer/cache/files/sebastian/resource-operations/c51f0469858a579ba5faa2b1476120b8b3def87d.zip
/.composer/cache/files/sebastian/version/c315a200d32565a6d8ebb3495cb5ae34c5ced3c8.zip
/.composer/cache/files/sebastian/recursion-context/caf8067cd91960cd4eced9e40f6668440c44bf08.zip
/.composer/cache/files/phpunit/php-timer/d877c37f5e48f326e7da1e900ba042d001a60d23.zip
/.composer/cache/files/phpspec/prophecy/e820319a99d3b1c27e2f79dd4c6ce1f76f0463db.zip
/.composer/cache/files/sebastian/global-state/eabdf46d16d897ca417b2762ed753fcacdf6f8e0.zip
/.composer/cache/files/theseer/tokenizer/fe55275cb80f4ed8a2e3061ab3cd552e5d0a2677.zip
/.idea/kata.iml
/.idea/modules.xml
/.composer/cache/repo/https---repo.packagist.org/packages.json
/.idea/php.xml
/.idea/php-test-framework.xml
/.composer/cache/repo/https---repo.packagist.org/provider-dflydev~markdown.json
/.composer/cache/repo/https---repo.packagist.org/provider-dflydev~markdown~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-doctrine~instantiator.json
/.composer/cache/repo/https---repo.packagist.org/provider-doctrine~instantiator~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-myclabs~deep-copy.json
/.composer/cache/repo/https---repo.packagist.org/provider-myclabs~deep-copy~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-nikic~php-parser.json
/.composer/cache/repo/https---repo.packagist.org/provider-nikic~php-parser~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-ocramius~instantiator.json
/.composer/cache/repo/https---repo.packagist.org/provider-ocramius~instantiator~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-ocramius~lazy-map.json
/.composer/cache/repo/https---repo.packagist.org/provider-ocramius~lazy-map~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-phar-io~manifest.json
/.composer/cache/repo/https---repo.packagist.org/provider-phar-io~manifest~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-phar-io~version.json
/.composer/cache/repo/https---repo.packagist.org/provider-phar-io~version~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpdocumentor~reflection-common.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpdocumentor~reflection-common~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpdocumentor~reflection-docblock.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpdocumentor~reflection-docblock~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpdocumentor~type-resolver.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpdocumentor~type-resolver~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpspec~prophecy.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpspec~prophecy~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~dbunit.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~dbunit~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-code-coverage.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-code-coverage~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-file-iterator.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-file-iterator~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-invoker.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-invoker~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-text-template.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-text-template~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-timer.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-timer~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-token-stream.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-token-stream~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~phpunit.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~phpunit-mock-objects.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~phpunit-mock-objects~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~phpunit~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~cli-parser.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~cli-parser~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~code-unit.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~code-unit-reverse-lookup.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~code-unit-reverse-lookup~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~code-unit~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~comparator.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~comparator~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~complexity.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~complexity~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~diff.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~diff~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~environment.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~environment~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~exporter.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~exporter~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~global-state.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~global-state~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~lines-of-code.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~lines-of-code~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~object-enumerator.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~object-enumerator~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~object-reflector.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~object-reflector~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~recursion-context.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~recursion-context~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~resource-operations.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~resource-operations~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~type.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~type~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~version.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~version~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~deprecation-contracts.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~deprecation-contracts~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~phpunit-bridge.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~phpunit-bridge~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-ctype.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-ctype~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~yaml.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~yaml~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-theseer~tokenizer.json
/.composer/cache/repo/https---repo.packagist.org/provider-theseer~tokenizer~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-webmozart~assert.json
/.composer/cache/repo/https---repo.packagist.org/provider-webmozart~assert~dev.json
/docker/nginx/sites-enabled/reports.conf
/.idea/vcs.xml
